@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: Rubik, sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    background-color: #ffffff;
    color: #444444
}

.page-header {
    color: #000000;
    background-color: #ffe17f;
}

.visually-hidden {
    visibility: hidden;
}

.search {
    font-size: 16px;
    line-height: 20px;
}

.navigation-link, .menu-link {
    color: #000000;
    background-color: #ffe17f;
    text-align: center;
    text-decoration: none;
}

ul:not(.transport-company) {
    list-style-type: none;
}

.menu-link, .btn {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
    background-color: #ffe17f;
}


.main-index {
    color: #444444;
    background-color: #ffffff;
}

.slider-title, .services-title, .contacts-title, .subcription-title {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
}

.number {
    font-weight: 700;
    font-size: 180px;
    text-align: right;
    color: #FFFFFF;
}

.characterictic-decription {
    font-size: 36px;
    line-height: 30px;
    color: #000000;
}

.characterictic-termin {
    font-size: 16px;
    line-height: 30px;
}

.category-item-link {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}

.services {
    background-color: #F0F0F0;
}

.delivery-section {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    background-color: #F0F0F0;
}

.delivery-section::before {
    content: url(/images/decor/delivery-section.svg);
    background-color: #FFE17F;
}

.delivery-section::after {
    content: url(/images/decor/delivery-information.svg);
}

.transport-company-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.contacts-subtitle {

    font-weight: 700;
    font-size: 24px;

}

.contacts-address {
    font-style: normal;

}

.contacts-phone {
    text-decoration-line: underline;
    color: #444444;
}

.contacts-schedule {
    list-style-type: none;
}

.subscription {
    background-color: #F0F0F0;
}

.subscription .btn {
    background-color: #F0F0F0;
}

.free::before {
    content: url(/images/decor/free.svg);
}

.page-footer {
    background: #444444;
    color: #FFFFFF;
}

.page-footer .contacts-address-text {
    font-size: 16px;
    line-height: 19px;
}

.footer-link {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;

}

.navigation-list, .footer-social-list {
    list-style-type: none;
}

.page-footer .contacts-phone {
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.virtual-reality::before {
    content: url(/images/decor/virtual-reality.svg);
    background-color: #FFE17F;
}

.monopods::before {
    content: url(/images/decor/monopod.svg);
    background-color: #FFE17F;
}

.action::before {
    content: url(/images/decor/action.svg);
    background-color: #FFE17F;
}

.fitnes-braselet::before {
    content: url(/images/decor/fitnes-braselet.svg);
    background-color: #FFE17F;
}

.smart-watch::before {
    content: url(/images/decor/smart-watch.svg);
    background-color: #FFE17F;
}

.quadrocopters::before {
    content: url(/images/decor/quadrocopters.svg);
    background-color: #FFE17F;
}

.delivery::after {
    content: url(/images/decor/delivery.svg);
}

.garanty::after {
    content: url(/images/decor/garanty.svg);
}

.credit::after {
    content: url(/images/decor/credit.svg);
}

.button-facebook::before {
    content: url(/images/decor/facebook.svg);

}

.button-instagram::before {
    content: url(/images/decor/instagram.svg);

}

.button-twitter::before {
    content: url(/images/decor/twitter.svg);
}