@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1440px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  background-color: #ffffff;
  color: #444444;
}

.page-header {
  color: #000000;
  width: 1160px;
  background-color: #ffe17f;
  margin: 0 auto;
  margin-top: 40px;
}

.header-main {
  min-height: 186px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-container {
  display: flex;
  width: 1160px;
  min-height: 186px;
  flex-direction: column;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 44px;
  position: relative;
}

.header-logo {
  position: absolute;
  top: -22px;
}

.header-logo:hover {
  opacity: 0.6;
  cursor: pointer;
}

.header-logo:active {
  opacity: 0.3;
}

.header-logo:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}

.search-field {
  display: flex;
  margin: 0px 0px;
  min-width: 50%;
  min-height: 40px;
  position: relative;
}

.search {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.input-search {
  margin: 0;
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 46px;
  width: 359px;
  height: 100%;
  border: 2px solid #000000;
  border-radius: 50px 0px 0px 50px;
  color: #000000;
  background-color: #ffe17f;
}

.search-field::before {
  content: url("../images/icons/search.svg");
  position: absolute;
  left: 16px;
  top: 8px;
}

.input-search:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.input-search:disabled {
  opacity: 0.3;
}

.button-search {
  margin: 0;
  min-width: 158px;
  border: 2px solid #000000;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border-left: 0px;
  color: #000000;
  background-color: #ffe17f;
}

.button-search:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

.button-search:active {
  color: #444444;
}

.button-search:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.button-search:disabled {
  opacity: 0.3;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
}

.navigation-user {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 6;
}

.login {
  width: 220px;
}

.logout-link {
  text-decoration: none;
  color: #b39e59;
  background-color: #ffe17f;
  margin-left: 28px;
}

.navigation-link {
  color: #000000;
  background-color: #ffe17f;
  display: block;
  text-decoration: none;
  padding-left: 27px;
  position: relative;
}

.navigation-item:nth-child(2) .navigation-link {
  padding-left: 22px;
}

.navigation-link:hover,
.subcatalog-link:hover,
.menu-link:hover {
  opacity: 0.6;
  cursor: pointer;
}

.navigation-link:active,
.subcatalog-link:active,
.menu-link:active {
  opacity: 0.3;
}

.navigation-link:focus-visible,
.subcatalog-link:focus-visible,
.menu-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.popover {
  display: none;
  position: absolute;
  top: 83px;
  right: -18px;
  box-sizing: border-box;
  width: 320px;
  min-height: 140px;
  background-color: #000000;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  z-index: 7;
}

.popover::before {
  content: url("../images/icons/popover-tooltip-vector.svg");
  position: absolute;
  top: -15px;
  left: 50%;
}

.popover-content {
  height: 100%;
}

.cart-items-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cart-item {
  display: flex;
  align-items: flex-start;
  height: 83px;
  padding: 20px;
}

.number-cart-item {
  position: absolute;
  height: 21px;
  width: 21px;
  left: -16px;
  z-index: 1;
  top: 5px;
  display: flex;
  color: #000000;
  background-color: #ffffff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.product-name {
  display: flex;
  margin-right: auto;
}

.popover:hover {
  cursor: pointer;
}

.product-name:hover {
  opacity: 0.6;
  cursor: pointer;
}

.product-name:active {
  opacity: 0.3;
}

.product-name:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.cart-item-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.cart-item-button:active {
  opacity: 0.3;
}

.cart-item-button:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.cart-item-title {
  margin: 0;
  margin-left: 23px;
  max-width: min-content;
}

.cart-item-button {
  border: 0;
  background-color: transparent;
}

.cart-information {
  background-color: #1a1a1a;
  height: 44px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.cart-button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 20px;
  border: 0;
  width: 280px;
  height: 50px;
  padding: 0;
}

.cart-button:hover {
  background-color: #ffe17f;
  cursor: pointer;
}

.cart-button:active {
  background-color: #ffe17f;
  color: #b39e59;
}

.cart-button:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.cart-button:disabled {
  color: #b3b3b3;
  background-color: #ffffff;
}

.menu {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.menu-catalog {
  position: relative;
  margin-right: 276px;
}

.navigation-list {
  max-width: 50%;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  margin-right: -3px;
}

.navigation-list .navigation-item {
  margin-right: 45px;
}

.navigation-list .navigation-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-link {
  display: block;
  letter-spacing: 0.2em;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffe17f;
  text-decoration: none;
  position: relative;
  z-index: 3;
  padding-top: 15px;
  padding-bottom: 12px;
  padding-right: 67px;
}

.catalog-icon {
  position: absolute;
  top: 0px;
  right: 0px;
}

.catalog-icon-active {
  display: none;
}

.subcatalog {
  display: none;
  width: 1160px;
  min-height: 180px;
  color: #000000;
  background-color: #ffe17f;
  position: absolute;
  left: -60px;
  top: 30px;
  padding-left: 60px;
  padding-top: 33px;
  padding-bottom: 27px;
  z-index: 2;
}

.subcatalog-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-height: 120px;
  margin-right: 30px;
}

.subcatalog-item {
  margin-bottom: 20px;
}

.subcatalog-link {
  display: block;
  text-decoration: none;
  color: #000000;
  background-color: #ffe17f;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.catalog-link:hover {
  cursor: pointer;
}

.catalog-link:hover .catalog-icon {
  opacity: 1;
}

.catalog-link:active .catalog-icon {
  opacity: 1;
}

.catalog-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.catalog-navigation-link {
  display: flex;
  justify-content: flex-start;
}

.menu-link {
  display: block;
  color: #000000;
  text-decoration: none;
  letter-spacing: 0.2em;
  padding-top: 14px;
  padding-bottom: 12px;
}

.navigation-list .current-item-menu {
  border-bottom: 2px solid #000000;
}

.subcatalog .current-item-menu {
  border-bottom: 1px solid #000000;
}

.menu-link,
.button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  border: 0px;
  background-color: #ffffff;
  width: 220px;
  padding: 0;
  position: relative;
  letter-spacing: 0.2em;
  color: #000000;
  z-index: 1;
}

.button::before {
  content: "";
  transition: 0.1s;
  position: absolute;
  background-color: #ffe17f;
  z-index: -1;
  width: 100%;
  min-height: 20%;
  top: 16px;
  bottom: 16px;
  left: 0;
}

.button:hover {
  cursor: pointer;
}

.button:hover::before {
  min-height: 100%;
  top: 0;
}

.button:active::before {
  background-color: #ffcc33;
}

.button:focus-visible {
  outline: 2px solid #af4fff;
}

.button:disabled {
  opacity: 0.3;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.main-index {
  color: #444444;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.slider {
  margin-bottom: 70px;
  margin-top: -36px;
  position: relative;
}
.gallery {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-height: 560px;
  position: relative;
}

.gallery:before {
  content: "";
  background-color: #ffe17f;
  width: 100%;
  position: absolute;
  top: 0px;
  height: 150px;
}

.card-item {
  display: flex;
}

.card-img {
  display: flex;
  width: 50%;
  margin-right: 40px;
  align-items: center;
  position: relative;
  height: 560px;
}

.card-description {
  width: 50%;
  position: relative;
}

.card-info {
  margin-bottom: 51px;
}

.card-button {
  margin-bottom: 49px;
  text-decoration: none;
}

.slider-title,
.services-title,
.contacts-title,
.subscription-title,
.inner-header-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.slider-title {
  margin-bottom: 29px;
  margin-top: 122px;
  position: relative;
}

.btn-slider {
  position: absolute;
  display: flex;
  right: 0;
  top: 67%;
  z-index: 1;
}

.indicator-group {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.indicator {
  width: 12px;
  height: 12px;
  padding: 0;
  border: 2px solid #000000;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.indicator-item {
  line-height: 0px;
}

.indicator-item:not(:last-child) {
  margin-right: 20px;
}

.current-indicator {
  background-color: #000000;
}

.indicator:hover {
  opacity: 0.6;
  cursor: pointer;
}

.indicator:active {
  opacity: 0.3;
}

.indicator:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.arrow-container {
  width: 530px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
  top: 211px;
  left: 30px;
}

.btn-arrow {
  background-color: #ffffff;
  border: none;
  padding: 0;
  width: 20px;
  height: 60px;
  cursor: pointer;
  background-image: url("..//images/icons/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.btn-arrow-forward {
  transform: rotate(180deg);
  margin-right: 0px;
}

.btn-arrow:hover {
  cursor: pointer;
  opacity: 0.6;
}

.btn-arrow:active {
  opacity: 0.3;
}

.btn-arrow:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.btn-arrow:disabled {
  opacity: 0.1;
}

.number {
  font-weight: 700;
  font-size: 180px;
  text-align: right;
  color: #ffffff;
  position: absolute;
  right: 49px;
  top: 29px;
  line-height: 135px;
}

.characterictic-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
}

.characterictic-item {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.card-item:last-child .characterictic-item {
  margin-right: 40px;
}

.characterictic-description {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.characterictic-termin {
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.category-catalog {
  margin-bottom: 70px;
}

.category-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
  margin: 0;
  padding: 0;
}

.category-item {
  display: flex;
  min-height: 253px;
}

.category-item:last-child {
  margin-right: 0;
}

.category-item-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  letter-spacing: -0.02em;
}

.category-item-link::before {
  background-color: #ffe17f;
  display: flex;
  width: 160px;
  height: 160px;
  margin-bottom: 32px;
}

.category-item-link:hover::before {
  background-color: #ffc700;
  cursor: pointer;
}

.category-item-link:active {
  opacity: 0.3;
}

.category-item-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.virtual-reality::before {
  content: url("../images/icons/virtual-reality.svg");
}

.monopods::before {
  content: url("../images/icons/monopod.svg");
}

.action::before {
  content: url("../images/icons/action.svg");
}

.fitnes-braselet::before {
  content: url("../images/icons/fitnes-braselet.svg");
}

.smart-watch::before {
  content: url("../images/icons/smart-watch.svg");
}

.quadrocopters::before {
  content: url("../images/icons/quadrocopters.svg");
}

.services {
  background-color: #f0f0f0;
  min-height: 391px;
  margin-bottom: 70px;
  position: relative;
}

.services::before {
  content: "";
  background-color: #ffffff;
  height: 102px;
  width: 100%;
  position: absolute;
  z-index: 0;
}

.position-absolute {
  display: flex;
}

.services-navigation {
  display: flex;
  flex-direction: column;
  padding-top: 63px;
  min-width: 280px;
  z-index: 1;
}

.services-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 873px;
  position: relative;
  border-left: 7px solid black;
  margin-bottom: 72px;
}

.btn-services {
  width: 160px;
  background: transparent;
  margin-bottom: 35px;
}

.btn-services-current {
  color: #ffe17f;
  z-index: 1;
}

.btn-services-current::before {
  content: "";
  position: absolute;
  background-color: #000000;
  z-index: -1;
  width: 178%;
  height: 100%;
  left: 0;
  top: 0;
}

.btn-services-current:hover {
  color: rgba(255, 225, 127, 0.5);
}

.btn-services-current:active {
  color: rgba(255, 225, 127, 0.3);
}

.btn-services-current:focus-visible {
  outline: none;
}

.btn-services-current:focus-visible::before {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.services-item {
  display: flex;
  flex-direction: column;
  width: 694px;
  padding-top: 73px;
  padding-left: 116px;
  padding-bottom: 72px;
  padding-right: 63px;
}

.services-title {
  min-width: 242px;
  min-height: 50px;
  margin: 0;
  margin-bottom: 34px;
}

.services-item p {
  min-width: 448px;
  margin: 0;
}

.delivery::after {
  content: url("../images/icons/delivery.svg");
  position: absolute;
  right: 56px;
  top: 77px;
}

.garanty::after {
  content: url("../images/icons/garanty.svg");
  position: absolute;
  right: 21px;
  top: 62px;
}

.credit::after {
  content: url("../images/icons/credit.svg");
  position: absolute;
  right: 21px;
  top: 65px;
}

.delivery-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1160px;
  min-height: 100px;
  background-color: #f0f0f0;
  margin-bottom: 70px;
}

.delivery-button {
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  background-color: #f0f0f0;
  text-transform: uppercase;
  margin: 0;
  padding: 40px 125px;
  border: 0px;
  letter-spacing: 0.2em;
  position: relative;
}

.delivery-button::before {
  content: url("../images/icons/delivery-section.svg");
  background-color: #ffe17f;
  width: 125px;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delivery-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 42px;
}

.delivery-button:hover {
  cursor: pointer;
}

.delivery-button:hover::before {
  background-color: #ffc700;
}

.delivery-button:hover .delivery-icon {
  fill: #000000;
}

.delivery-button:active {
  opacity: 0.3;
}

.delivery-button:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.contacts-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contacts-item::before {
  content: url("../images/icons/frame.svg");
  margin-bottom: 40px;
  line-height: 0px;
}

.contacts-item:first-of-type {
  margin-right: 108px;
  width: 520px;
  min-height: 493px;
}

.contacts-link {
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.contacts-item:first-of-type .contacts-link {
  width: 270px;
  margin-top: 30px;
}

.contacts-item:last-child {
  width: 532px;
  min-height: 545px;
}

.contacts-item:last-child .contacts-link {
  width: 260px;
  margin-top: 30px;
}

.contacts-item p {
  margin-bottom: 30px;
  margin-top: 0;
  margin-right: 23px;
}

.contacts-title {
  margin: 0;
  margin-bottom: 48px;
}

.transport-company {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.transport-company-item {
  display: flex;
  margin-bottom: 19px;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  letter-spacing: -0.02em;
  position: relative;
  padding-left: 34px;
}

.transport-company-item:last-child {
  margin-bottom: 0;
}

.transport-company-item::before {
  content: url("../images/icons/list-style.svg");
  position: absolute;
  top: -4px;
  left: 2px;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 15px;
}

.contacts-address {
  font-style: normal;
}

.contacts-phone {
  text-decoration-line: underline;
  color: #444444;
}

.contacts-phone:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.contacts-schedule {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.subscription {
  background-color: #f0f0f0;
  min-height: 421px;
}

.subscription-container {
  display: flex;
  flex-direction: column;
}

.subscription-description {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 144px;
}

.field {
  border: 0px;
  border-bottom: 3px solid #c4c4c4;
  min-height: 55px;
  background-color: #f0f0f0;
  width: 557px;
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 16px;
}

.field:placeholder-shown {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  opacity: 0.5;
}

.field:focus-visible {
  background-color: #dcdcdc;
}

.field:focus-visible {
  outline: none;
}

.field:invalid {
  border-color: #ff3d3d;
  background-color: #f0f0f0;
}

.field:disabled {
  opacity: 0.3;
}

.btn-subscription {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  background-color: #f0f0f0;
  border: 3px solid #e4e4e4;
  align-items: center;
  justify-content: center;
  width: 253px;
  min-height: 55px;
  padding: 0;
  padding-left: 7px;
  position: relative;
}

.btn-subscription:hover {
  background-color: #000000;
  color: #ffffff;
  border-color: #000000;
  cursor: pointer;
}

.btn-subscription:active {
  background-color: #000000;
  color: #444444;
  border-color: #000000;
}

.btn-subscription:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.btn-subscription:disabled {
  opacity: 0.3;
}

.subscription-title {
  width: 348px;
  margin: 0;
  padding-left: 6px;
}

.subscription-description p {
  margin: 0;
  margin-top: 10px;
  width: 530px;
  padding-left: 5px;
  margin-right: 30px;
}

.subscription-container-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
  min-height: 57px;
}

.subscription-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.free {
  margin-bottom: 14px;
  margin-top: 14px;
}

.free::before {
  content: url("../images/icons/free.svg");
  margin-right: 16px;
}

.page-footer {
  background-color: #444444;
  color: #ffffff;
  min-height: 321px;
}

.footer-container {
  display: flex;
  padding-top: 62px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  margin-right: 117px;
  max-width: 240px;
}

.footer-contacts::after {
  content: url("../images/icons/yellow-line.svg");
  line-height: 0px;
  margin-bottom: 12px;
}

.footer-logo {
  margin-bottom: 34px;
}

.footer-logo:hover {
  opacity: 0.6;
  cursor: pointer;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-logo:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.page-footer .contacts-address {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 65px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 75px;
  max-width: 458px;
  min-height: 198px;
}

.footer-navigation-list,
.footer-social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-navigation-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 11px;
}

.footer-social-item:not(:last-child) {
  margin-right: 15px;
}

.footer-navigation-item {
  display: flex;
  margin-bottom: 10px;
}

.footer-navigation-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.footer-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 0.2em;
}

.footer-link:hover {
  color: #ffc700;
  border-bottom: 2px solid #ffc700;
}

.footer-link:active {
  color: #ffc700;
  border-bottom: 2px solid #ffc700;
  opacity: 0.3;
}

.footer-link:focus-visible,
.footer-phone:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.social-link {
  height: 40px;
  width: 40px;
  background-color: #7c7c7c;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link:hover {
  background-color: #ffc700;
}

.social-link:active svg {
  fill: #c7a014;
}

.footer-social-item:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.footer-social-item:focus-within a {
  outline: none;
}

.footer-contact-list {
  display: flex;
  flex-direction: column;
  margin-left: 190px;
  padding-top: 77px;
}

.footer-phone {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 63px;
}

.footer-phone:hover {
  color: #ffc700;
}

.footer-phone:active {
  color: #ffc700;
  opacity: 0.3;
}

.htmlacademy-link {
  display: flex;
  justify-content: flex-end;
}

.htmlacademy-link:hover .htmlacademy-icon {
  fill: #ffffff;
}

.htmlacademy-link:active .htmlacademy-icon {
  fill: #7c7c7c;
}

.htmlacademy-link:focus-within .htmlacademy-icon {
  outline: 1px solid #af4fff;
  outline-offset: 2px;
}

.htmlacademy-link:focus-within {
  outline: none;
}

/* modal */

.modal-container {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  background-color: #ffffff;
  padding: 62px 70px;
  border: 10px solid #000000;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.modal-delivery {
  width: 920px;
}

.modal-form-button {
  width: 200px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 74px;
  right: 69px;
  width: 26px;
  height: 26px;
  border: none;
  background-image: url("../images/icons/modal-cross.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  cursor: pointer;
}

.modal-close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-close-button:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.modal-title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-bottom: 42px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-fieldset {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  margin-bottom: 42px;
}

.field-group {
  display: flex;
  flex-direction: column;
}

.field-group .field-span {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.field-group-label {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 14px;
}

.form-field {
  height: 60px;
  background-color: #f0f0f0;
  border: none;
  padding: 20px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.form-field:hover {
  background-color: #dcdcdc;
  cursor: pointer;
}

.form-field:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.form-field:invalid {
  border: 2px solid #ff3d3d;
}

.form-field:invalid + span {
  color: #ff3d3d;
}

.form-field:disabled {
  opacity: 0.3;
}

.modal-number {
  width: 180px;
}

.modal-number-container {
  display: flex;
  width: 180px;
  height: 60px;
  padding: 0;
  margin: 0;
  position: relative;
}

.field-number {
  width: 100%;
  background-color: #f0f0f0;
  border: none;
  padding: 0;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.field-number::-webkit-outer-spin-button,
.field-number::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.field-number:hover {
  cursor: pointer;
}

.field-number:focus-visible {
  outline: none;
}

.field-number:invalid {
  outline: 2px solid #ff3d3d;
}

.field-number:disabled {
  opacity: 0.3;
}

.modal-name,
.modal-email {
  width: 360px;
}

.modal-name .form-field {
  background-image: url("../images/icons/modal-name.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
}

.modal-email .form-field {
  background-image: url("../images/icons/modal-email.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
}

.modal-button {
  width: 60px;
  height: 60px;
  border: none;
  display: block;
  padding: 0;
  background-color: #f0f0f0;
  position: absolute;
  z-index: 1;
}

.number-minus {
  top: 0px;
  left: 0px;
}

.number-minus svg {
  position: absolute;
  left: 22px;
  top: 29px;
}

.number-plus {
  top: 0px;
  right: 0px;
}

.modal-button:hover {
  cursor: pointer;
  background-color: #ebebeb;
}

.modal-button:hover svg {
  opacity: 0.6;
}

.modal-button:active svg {
  opacity: 0.3;
}

.modal-button:focus-visible {
  outline: 2px solid #af4fff;
}

.modal-button:disabled {
  background-color: #fbfbfb;
  opacity: 0.3;
}

.modal-order {
  width: 540px;
}

/* tooltip */

.tooltip {
  position: absolute;
}

.tooltip-toggle {
  border: none;
  background: transparent;
  padding: 0;
  display: block;
  margin-left: 10px;
  margin-top: -4px;
}

.tooltip-toggle:hover {
  cursor: pointer;
}

.tooltip-toggle:focus-visible {
  outline: none;
}

.field-group-label:hover {
  cursor: pointer;
}

.field-group-label:hover .tooltip-text,
.field-group-label:focus-within .tooltip-text {
  display: block;
}

.tooltip-text {
  display: none;
  width: 200px;
  background-color: #000000;
  color: #ffffff;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 19px;
  position: absolute;
  z-index: 2;
  margin-top: 8px;
  left: -130px;
}

.tooltip-text::before {
  content: url("../images/icons/popover-tooltip-vector.svg");
  position: absolute;
  top: -15px;
  right: 42px;
}

/* catalog */

.header-catalog {
  min-height: 186px;
  margin-bottom: 35px;
}

.main-inner {
  color: #000000;
}

.inner-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 60px;
  margin-bottom: 25px;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 16px;
}

.breadcrumbs {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-right: 38px;
  margin-bottom: 10px;
  position: relative;
}

.breadcrumbs-item::after {
  content: url("../images/icons/nav-arrow.svg");
  position: absolute;
  right: -20px;
  top: -8px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.catalog-products {
  display: flex;
  background-color: #f0f0f0;
}

.catalog-container {
  display: flex;
}

.catalog-products-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0;
  letter-spacing: 0.2em;
  max-width: 200px;
}

.catalog-filter {
  width: 320px;
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  padding-right: 60px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  letter-spacing: -0.02em;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  width: 200px;
  padding-top: 12px;
  border-top: 2px solid #000000;
}

.catalog-filter-form {
  width: 200px;
  margin-top: 33px;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 33px;
}

.catalog-filter-group:first-child .catalog-filter-title {
  margin-bottom: 28px;
}

.catalog-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 17px;
}

.catalog-filter-group:last-of-type .catalog-filter-item:not(:last-child) {
  margin-bottom: 20px;
}

.range {
  width: 200px;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 15px;
  background-color: #dcdcdc;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  border: 0px;
  background-image: url("../images/icons/range-slider.svg");
  cursor: pointer;
  padding: 0;
}

.range-toggle:hover {
  background-image: url("../images/icons/range-slider-hover.svg");
}

.range-toggle:active {
  background-image: url("../images/icons/range-slider-click.svg");
}

.range-toggle:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.toggle-min {
  top: -8px;
  left: -9px;
}

.toggle-max {
  top: -8px;
  right: -9px;
}

.range-inputs {
  display: flex;
  justify-content: space-between;
  appearance: textfield;
  position: relative;
  min-height: 18px;
}

.catalog-filter-label {
  display: flex;
  position: absolute;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #b3b3b3;
}

.toggle-min-label {
  left: -15px;
}

.toggle-max-label {
  right: 30px;
}

.range-input {
  width: 30px;
  border: none;
  background-color: transparent;
  text-align: start;
  color: #b3b3b3;
}

.range-input:focus-visible {
  outline: none;
}

.catalog-filter-label:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.range-input ::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.control {
  padding-left: 36px;
  display: block;
  position: relative;
  font-size: 16px;
  line-height: 19px;
  min-height: 20px;
}

.control:hover {
  opacity: 0.6;
  cursor: pointer;
}

.control:active {
  opacity: 0.3;
}

.control-input:focus-visible + .control-mark {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.control-input:disabled + .control-mark,
.control-input:disabled ~ .control-label {
  opacity: 0.1;
}

.control-input:checked:disabled + .control-mark,
.control-input:checked:disabled ~ .control-label {
  opacity: 0.1;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
  background-color: #f0f0f0;
}

.control-input[type="checkbox"] + .control-mark {
  border: 2px solid #cccccc;
  padding: 3px;
}

.control-input[type="checkbox"]:checked + .control-mark {
  border: 2px solid #000000;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  content: url("../images/icons/tick.svg");
  position: absolute;
  line-height: 0px;
}

.control-input[type="radio"] + .control-mark {
  background-image: url("../images/icons/radio-unchecked.svg");
}

.control-input[type="radio"]:checked + .control-mark {
  background-image: url("../images/icons/radio-checked.svg");
}

.btn-filter {
  background: transparent;
  margin-bottom: 20px;
}

.product-sorting {
  display: flex;
  flex-direction: column;
  width: 840px;
}

.sorting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 840px;
  min-height: 70px;
  padding: 0px 40px;
}

.select-control {
  max-width: 160px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background-color: transparent;
  border: none;
  padding-right: 50px;
  appearance: none;
  background-image: url("../images/icons/sorting-icon.svg");
  background-repeat: no-repeat;
  background-position: right center;
  margin: 0px 193px;
}

.select-control:hover {
  opacity: 0.6;
  cursor: pointer;
}

.select-control:active {
  opacity: 0.3;
}

.select-control:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.select-control:disabled {
  opacity: 0.1;
}

.sorting-button {
  display: flex;
  width: 60px;
  height: 30px;
  justify-content: space-between;
}
.btn-sorting {
  width: 30px;
  border: none;
  opacity: 0.3;
}

.btn-sorting:hover {
  opacity: 0.6;
  cursor: pointer;
}

.btn-sorting:active {
  opacity: 1;
  cursor: default;
}

.btn-sorting:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.btn-up::before {
  content: url("../images/icons/sort-up.svg");
}

.btn-down::before {
  content: url("../images/icons/sort-down.svg");
}

.product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 70px 40px 0px;
  background-color: #ffffff;
}

.product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 44px 40px;
  margin-bottom: 44px;
}

.product-card {
  position: relative;
  background-color: #ffffff;
  min-height: 452px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-new:before {
  content: url("../images/icons/product-new.svg");
  position: absolute;
  right: 27px;
  top: 27px;
}

.product-card-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 40px;
}

.product-card-title {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  width: 60%;
}

.product-card-price {
  color: #444444;
  line-height: 21px;
}

.link-product {
  display: none;
  color: #000000;
  background: transparent;
  position: absolute;
  top: 40%;
  left: 20%;
  text-decoration: none;
}

.product-card:hover img {
  opacity: 0.3;
  outline: 1px solid #000000;
}

.product-card:hover .product-card-title {
  opacity: 0.6;
}

.product-card:hover .link-product {
  display: flex;
}

.product-card:active .product-card-info {
  opacity: 0.3;
}

.product-card:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.product-button {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  text-transform: uppercase;
  background-color: #ffffff;
  width: 760px;
  min-height: 55px;
  margin-bottom: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #e5e5e5;
  letter-spacing: 0.2em;
}

.product-button:hover {
  border: 3px solid #000000;
  cursor: pointer;
}

.product-button:active {
  border: 3px solid #000000;
  opacity: 0.3;
}

.product-button:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.product-button:disabled {
  opacity: 0.3;
}

.pagination-container {
  background-color: #ebebeb;
  display: flex;
  justify-content: space-between;
  width: 760px;
  min-height: 71px;
  margin-bottom: 78px;
  align-items: center;
}

.pagination-prev,
.pagination-next {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #000000;
  letter-spacing: 0.2em;
  padding: 25px;
}

.pagination-next:hover,
.pagination-prev:hover {
  background: #dcdcdc;
  cursor: pointer;
}

.pagination-next:active,
.pagination-prev:active {
  background: #dcdcdc;
  cursor: default;
}

.pagination-prev:active span,
.pagination-next:active span {
  opacity: 0.3;
}

.pagination-next:focus-visible,
.pagination-prev:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.pagination-prev {
  min-width: 128px;
}

.pagination-next {
  min-width: 141px;
}

.pagination {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-width: 200px;
  min-height: 40px;
}

.pagination-item {
  display: flex;
}

.pagination-link {
  text-decoration: none;
  color: #444444;
  opacity: 0.3;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  min-width: 40px;
  min-height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.pagination-link:hover {
  opacity: 1;
  cursor: pointer;
}

.pagination-link:active {
  opacity: 0.1;
  cursor: default;
}

.pagination-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.pagination-current {
  opacity: 0.6;
}

.pagination-disabled {
  color: #ebebeb;
}
